.header{
  width: 100%;
  height: 80px;
  background-color: #1c273d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
  box-sizing: border-box;
  padding: 10px 30px;
  border-bottom: 0.5px solid gray;
}
.section-left{
  display: flex;
  align-items: center;
  gap: 8vw;
}
.section-left h6{
  margin: 0;
  line-height: 1;
  font-weight: bold;
}

.logo-description{
  display: flex;
  align-items: center;
  gap: 10px;
}

.img-logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.search{
  border: 1px solid gray;
  border-radius: 5px;
  width: 350px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #2b3852;
  padding: 1px 10px;
}
.btn-search{
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.input-search{
  width: 100%;
  height: 100%;
  background-color: #2b3852;
  padding-left: 10px;
  outline: none;
  color:rgb(173, 166, 166);
  box-shadow: none;
  border: none;
  font-size: 16px;
}
.search:focus-within{
  border: 1px solid;
  border-color: #2ab4e8;
}

.section-right{
  display: flex;
  align-items: center;
  gap: 30px;
}
.section-right .menu{
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.section-right .menu .icon{
  width: 30px;
  height: 30px;
  fill:gray;
}
.section-right .menu .icon:hover{
  transform: scale(1.1);
  fill: white;
  cursor: pointer;
}
.img-perfil{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid;
}
.img-perfil:hover{
  transform: scale(1.05);
  cursor: pointer;
}







/*TRABAJREMOS MODAL*/
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: transparent;
  overflow: hidden;
}

.modal-content {
  background-color: #454a63;
  margin: 3.5% 10% 15% 89%;
  border: 1px solid #888;
  width: 220px;
  height:auto ;
}
.datos-perfil{
  margin: 10px;
  font-size: 0.75rem;
}

.perfil-menu{
  list-style: none;
  margin: 0;
  padding: 0;

}
.option-perfil{
  margin: 10px;
  padding: 0;
}
.menu-list{
  height: 30px;
  padding: 10px;
  margin:5px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap:10px;
}
.menu-list:hover{
  background-color: #2ab4e8;
  cursor: pointer;
}
