<app-header></app-header>
<div class="container">
  <app-sidebar></app-sidebar>

  <div class="body">
    <div class="body-text">
      <div style="font-weight: bold;">Buscar Empleo</div>
      <span>Encuentra el empleo ideal</span>
    </div>
    <div class="body-search">
      <i class="fa-solid fa-briefcase"></i>
      <input class="input-search" type="text" placeholder="Ingresa el empleo que deseas buscar">
      <button class="btn-search"><i class="fa-solid fa-magnifying-glass"></i>Buscar</button>
    </div>

    <div class="section-result">
      <div class="option-filters">
        <h6 style="text-align: center;width: 100%;">Filtros</h6>
        <hr>
        <div id="button-filter-1" class="filter-option">
          <a>Empresas</a>
          <i class="fa-solid fa-caret-down filter-icon"></i>
        </div>
        <hr>
        <div id="filter-1" class="filter-option-description">
          <ul class="filter-option-list">
            <li><input type="checkbox"><span>Interbank</span></li>
            <li><input type="checkbox"><span>Interbank</span></li>
            <li><input type="checkbox"><span>Interbank</span></li>
            <li><input type="checkbox"><span>Interbank</span></li>
            <li><input type="checkbox"><span>Interbank</span></li>
          </ul>
          <hr>
        </div>
        <div>
          hola
        </div>
      </div>
      <div class="result-container">
        <div class="card-result">
          <h5 style="font-weight: bold;">Analista de sistemas</h5>
          <span>Experto en la gestión de sistemas de información y procesos de la organización ... </span>
        </div>
      </div>
    </div>


  </div>

</div>

