

<div class="sidebar">

<nav class="nav-sidebar">
   <ul class="menu-sidebar">
    <li class="menu-list" (click)="BuscarEmpleo()"><i class="fa-solid fa-magnifying-glass-dollar"></i><a>Buscar Empleo</a></li>
    <li class="menu-list" (click)="MiPerfil()"><i class="fa-solid fa-user"></i><a>Mi Perfil</a></li>
    <li class="menu-list"><i></i><a>CRUD</a></li>
    <li class="menu-list"><i></i><a>Settings</a></li>
    <li class="menu-list"><i></i><a>Pages</a></li>
    <li class="menu-list"><i></i><a>Autenticación</a></li>
   </ul>
</nav>

</div>

