.container{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.encabezado{
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  justify-content: space-between;

}

.logo-description{
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  gap:10px;
}
.logo-description h6{
  margin: 0;
  line-height: 1;
}
.img-logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;

}

.options{
  padding-right: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
}
.menu{
  display: flex;
  list-style: none;
  gap: 50px;
  margin: 0;
  padding: 0;
}
.menu-list{
  cursor: pointer;
  padding: 10px;
}

.menu-list:hover{
  color: white;
  background-color: #07325b;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.options button {
background-color: #37c89c;
height: 35px;
border-radius: 5px;
border: none;
transition: transform 0.3s ease, box-shadow 0.3s ease; /* Añade una transición suave */
}

.options button:hover{
  transform: scale(1.1); /* Aumenta el tamaño y sube ligeramente */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Añade una sombra para el efecto de elevación */
  cursor: pointer;
}

.section{
  width: auto;
  height: 450px;
  display: flex;
  margin: 30px 100px;
}

.card-container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container h1{
text-align: center;
}
.card-container button{
  background-color: #2ab4e8;
  height: 35px;
  border-radius: 5px;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Añade una transición suave */
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-container button:hover{
  transform: scale(1.1); /* Aumenta el tamaño y sube ligeramente */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Añade una sombra para el efecto de elevación */
  cursor: pointer;
}
.card-container img {
  max-width: 80%; /* Asegúrate de que no se desborde */
  height: auto;
}
.section-background{
  background-color: #0a1a4f ;
  width: auto;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:30px;
  padding: 50px;
  color:white;
}
.card-section{
   width: 20%;
   height: auto;

}
.card-title{
  font-weight: 500;
  font-size: 20px;


}
.card-text{
  margin-top: 30px;
  font-weight: 100;
}
