<div class="container">

  <div class="encabezado">
    <div class="logo-description">
      <img class="img-logo" src="logo.png"  alt="logo" loading="lazy"/>
      <h6>JOB EMPLOYMENT</h6>
    </div>
    <div class="options">
      <ul class="menu">
        <li class="menu-list"><a>Inicio</a></li>
        <li class="menu-list"><a>Acerca</a></li>
        <li class="menu-list"><a>Características</a></li>
        <li class="menu-list"><a>Contacto</a></li>
      </ul>
      <button (click)="IniciarSesion()">Iniciar Sesion</button>
      <button (click)="Registrarse()">Registrarse</button>
    </div>
  </div>

  <div class="section">

    <div class="card-container">
      <h1>Presentando Nuestro Revolucionario</h1>
      <div style="color:gray">Optimice su fuerza laboral con nuestro Web</div>
       <button>Explora nuestras instalaciones</button>
       <span style="color: blue;">Descubra el poder del seguimiento eficiente de los empleados</span>
    </div>

    <div class="card-container">
       <img src="Portada1.webp" alt="portada1">
    </div>

  </div>

  <div class="section-background">

    <div class="card-section">
       <span class="card-title">Empoderando a su equipo : integración sin incovenientes</span>
       <div class="card-text">
        Mejore sus operaciones comerciales: nuestro
        sistema integral de gestión de empleados ofrece eficiencia,
        productividad y conocimientos incomparables.
       </div>
    </div>
    <div class="card-section">
      <span class="card-title">Incorporación simplificada</span>
      <div class="card-text">
        Mejore sus operaciones comerciales: nuestro
        sistema integral de gestión de empleados ofrece eficiencia,
        productividad y conocimientos incomparables.
      </div>
    </div>
    <div class="card-section">
      <div class="card-text">
        Mejore sus operaciones comerciales: nuestro
        sistema integral de gestión de empleados ofrece eficiencia,
        productividad y conocimientos incomparables.
      </div>
    </div>
  </div>

</div>
